:root{
    --primary: #2175f5;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #efefef;
}

.container{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    overflow: hidden;
}

.card{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 860px;
}

.shoeBackground{
    position: relative;
    width: 50%;
    height: 600px;
    box-shadow: -15px 0 35px rgba(0, 0, 0, 0.1),
    0 -15px 35px rgba(0, 0, 0, 0.1),
    0 15px 35px rgba(0, 0, 0, 0.1);
    transition: .5s;
}

.gradients{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.gradient{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -2;
}

.first{
    z-index: 0;
    animation: 1s width ease;
}

@keyframes width{
    from{
        width: 0%;
    }
    to{
        width: 100%;
    }
}

.second{
    z-index: -1;
}

.gradient[color="blue"]{
    background-image: linear-gradient(45deg, #0136af, #22abfa);
}

.gradient[color="red"]{
    background-image: linear-gradient(45deg, #d62926, #ee625f);
}

.gradient[color="green"]{
    background-image: linear-gradient(45deg, #11998e, #1ce669);
}

.gradient[color="pink"]{
    background-image: linear-gradient(45deg, #c71ac7, #8435df);
}

.gradient[color="black"]{
    background-image: linear-gradient(45deg, #111, #666);
}

.logo{
    position: absolute;
    width: 100px;
    left: 20px;
    top: 20px;
}

.share{
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: #fff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    font-size: 1.3rem;
    text-decoration: none;
    color: var(--primary);
    transition: .5s;
}

.share:hover{
    transform: scale(1.1);
}

.share i{
    line-height: 50px;
}

.nike{
    position: absolute;
    top: 85px;
    left: 15px;
    font-size: 11rem;
    text-transform: uppercase;
    line-height: .9;
    color: #fff;
    opacity: .1;
}

.shoe{
    position: absolute;
    width: 80%;
    opacity: 0;
    bottom: 0px;
    right: 50px;
    transform: rotate(-20deg);
    transition: .5s;
}

.shoe.show{
    opacity: 1;
}

.info{
    width: 50%;
    background-color: #fff;
    z-index: 1;
    padding: 35px 40px;
    box-shadow: 15px 0 35px rgba(0, 0, 0, 0.1),
    0 -15px 35px rgba(0, 0, 0, 0.1),
    0 15px 35px rgba(0, 0, 0, 0.1);
}

.shoeName{
    padding: 0 0 10px 0;
}

.shoeName div{
    display: flex;
    align-items: center;
}

.shoeName div .big{
    margin-right: 10px;
    font-size: 2rem;
    color: #333;
    line-height: 1;
}

.shoeName div .new{
    background-color: var(--primary);
    text-transform: uppercase;
    color: #fff;
    padding: 3px 10px;
    border-radius: 5px;
    transition: .5s;
}

.shoeName .small{
    font-weight: 500;
    color: #444;
    margin-top: 3px;
    text-transform: capitalize;
}

.shoeName, .description, .color-container, .size-container{
    border-bottom: 1px solid #dadada;
}

.description{
    padding: 10px 0;
}

.title{
    color: #3a3a3a;
    font-weight: 600;
    font-size: 1.2rem;
    text-transform: uppercase;
}

.text{
    color: #555;
    font-size: 17px;
}

.color-container{
    padding: 10px 0;
}

.colors{
    padding: 8px 0;
    display: flex;
    align-items: center;
}

.color{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin: 0 10px;
    border: 5px solid;
    cursor: pointer;
    transition: .5s;
}

.color[color="blue"]{
    background-color: #2175f5;
    border-color: #2175f5;
}

.color[color="red"]{
    background-color: #f84848;
    border-color: #f84848;
}

.color[color="green"]{
    background-color: #29b864;
    border-color: #29b864;
}

.color[color="orange"]{
    background-color: #c71ac7;
    border-color: #c71ac7;
}

.color[color="black"]{
    background-color: #444;
    border-color: #444;
}

.color.active{
    border-color: #fff;
    box-shadow: 0 0 10px .5px rgba(0, 0, 0, 0.2);
    transform: scale(1.1);
}

.size-container{
    padding: 10px 0;
    margin-bottom: 10px;
}

.sizes{
    padding: 8px 0;
    display: flex;
    align-items: center;
}

.size{
    width: 60px;
    height: 40px;
    border-radius: 6px;
    background-color: #eee;
    margin: 0 10px;
    text-align: center;
    line-height: 40px;
    font-size: 1.1rem;
    font-weight: 500;
    cursor: pointer;
    transition: .3s;
}

.size.active{
    background-color: var(--primary);
    color: #fff;
    transition: .5s;
}

.buy-price{
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price{
    color: #333;
    display: flex;
    align-items: flex-start;
}

.price h1{
    font-size: 2.1rem;
    font-weight: 600;
    line-height: 1;
}

.price i{
    font-size: 1.4rem;
    margin-right: 1px;
}

.buy{
    padding: .7rem 1rem;
    background-color: var(--primary);
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 1.1rem;
    transition: .5s;
}

.buy:hover{
    transform: scale(1.1);
}

.buy i{
    margin-right: 2px;
}

@media (max-width: 1070px){
    .shoe{
        width: 135%;
    }
}

@media (max-width: 1000px){
    .card{
        flex-direction: column;
        width: 100%;
        box-shadow: 0 0 35px 1px rgba(0, 0, 0, 0.2);
    }
    
    .card > div{
        width: 100%;
        box-shadow: none;
    }

    .shoe{
        width: 80%;
        transform: rotate(-5deg) translateY(-50%);
        top: 55%;
        right: 2%;
    }

    .nike{
        top: 20%;
        left: 5%;
    }
}

@media (max-width: 600px){
    .share{
        width: 40px;
        height: 40px;
    }

    .share i {
        font-size: 1rem;
        line-height: 40px;
    }

    .logo{
        width: 70px;
    }
}

@media (max-width: 800px){
    .nike{
        font-size: 7rem;
    }

    .shoeName div .big{
        font-size: 1.3rem;
    }

    .small{
        font-size: 1rem;
    }

    .new{
        padding: 2px 6px;
        font-size: .9rem;
    }

    .title{
        font-size: .9rem;
    }

    .text{
        font-size: .8rem;
    }

    .buy{
        padding: .5rem .8rem;
        font-size: .8rem;
    }

    .price h1{
        font-size: 1.5rem;
    }

    .price i{
        font-size: .9rem;
    }

    .size{
        width: 500px;
        height: 30px;
        margin: 0 8px;
        font-size: .9rem;
        line-height: 30px;
    }

    .color{
        margin: 0 6px;
        width: 0 20px;
        width: 20px;
        height: 20px;
        border-width: 4px;
    }

    .share{
        width: 35px;
        height: 35px;
        top: 10px;
        right: 10px;
    }

    .share i{
        font-size: .8rem;
        line-height: 35px;
    }

    .logo{
        width: 60px;
        top: 10px;
        left: 10px;
    }

    .info{
        padding: 20px;
        width: 100%;
    }
    .shoeBackground{
        position: relative;
        width: 50%;
        height: 305px;
        box-shadow: -15px 0 35px rgba(0, 0, 0, 0.1),
        0 -15px 35px rgba(0, 0, 0, 0.1),
        0 15px 35px rgba(0, 0, 0, 0.1);
        transition: .5s;
    }
}

@media (max-width: 400px){
    .buy i{
        display: none;
    }

    .container{
        padding: 20px;
    }
    .shoeBackground{
        position: relative;
        width: 50%;
        height: 305px;
        box-shadow: -15px 0 35px rgba(0, 0, 0, 0.1),
        0 -15px 35px rgba(0, 0, 0, 0.1),
        0 15px 35px rgba(0, 0, 0, 0.1);
        transition: .5s;
    }
}

/* Style pour la fenêtre modale */
.modal {
    display: none; /* Cachée par défaut */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    position: relative;
}

.close {
    position: absolute;
    top: 0;
    right: 0;
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --text-dark: #000000;
  --text-light: #727274;
  --extra-light: #f3f4f6;
  --white: #ffffff;
  --max-width: 1200px;
  --header-font: "Montserrat", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.section__container {
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 1rem;
}

.btn {
  max-width: fit-content;
  padding: 0.75rem 3.5rem;
  outline: none;
  border: none;
  font-size: 1rem;
  font-weight: 500;
  font-family: var(--header-font);
  white-space: nowrap;
  color: var(--white);
  background-color: var(--text-dark);
  border-radius: 2rem;
  transition: 0.3s;
  cursor: pointer;
}

.btn:hover {
  color: var(--text-dark);
  background-color: var(--extra-light);
}

img {
  display: flex;
  width: 100%;
}

a {
  text-decoration: none;
  transition: 0.3s;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

nav {
  position: fixed;
  isolation: isolate;
  width: 100%;
  max-width: var(--max-width);
  margin-inline: auto;
  z-index: 9;
}

.nav__header {
  padding: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--text-dark);
}

.nav__logo img {
  max-width: 150px;
}

.logo-dark {
  display: none;
}

.nav__menu__btn {
  font-size: 1.5rem;
  color: var(--white);
  cursor: pointer;
}

.nav__links {
  position: absolute;
  top: 65px;
  left: 0;
  width: 100%;
  padding: 2rem;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  background-color: var(--text-dark);
  transition: 0.5s;
  z-index: -1;
  transform: translateY(-100%);
}

.nav__links.open {
  transform: translateY(0);
}

.nav__links a {
  font-weight: 500;
  white-space: nowrap;
  color: var(--white);
  transition: 0.3s;
}

.nav__links .btn {
  padding-inline: 1.5rem;
  color: var(--text-dark);
  background-color: var(--white);
  border-radius: 5px;
}

.header__container {
  display: grid;
  gap: 2rem;
}

.header__image {
  position: relative;
  isolation: isolate;
  overflow: hidden;
}

.header__image img {
  max-width: 450px;
  margin-inline: auto;
}

img.header-bg {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  max-width: 350px;
  opacity: 0.05;
  z-index: -1;
}

.header__image__content {
  text-align: center;
}

.header__image__content h4 {
  margin-bottom: 5px;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--text-dark);
}

.header__content {
  text-align: center;
}

.header__content h1 {
  margin-bottom: 1.5rem;
  font-size: 3rem;
  font-weight: 700;
  font-family: var(--header-font);
  color: var(--text-dark);
  line-height: 3rem;
}

.header__content p {
  font-weight: 500;
  color: var(--text-light);
}

.product {
  overflow: hidden;
  background-image: radial-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 1));
}

.product__grid {
  margin-bottom: 4rem;
  display: grid;
  gap: 4rem;
}

.product__image img {
  max-width: 350px;
  margin-inline: auto;
  transform: rotate(-15deg);
}

.product__content {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  gap: 2rem;
  flex-direction: column;
}

.product__card {
  text-align: center;
}

.product__card h4 {
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 600;
  font-family: var(--header-font);
  color: var(--white);
}

.product__card p {
  margin-bottom: 1rem;
  font-weight: 500;
  color: var(--text-light);
}

.product__card a {
  font-weight: 500;
  color: var(--text-light);
}

.product__card a:hover {
  color: var(--white);
}

.product__colors {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.product__colors > div {
  width: 30px;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--text-light);
  border-radius: 100%;
  cursor: pointer;
}

.product__colors > div:nth-child(1) {
  background-color: #3a3a3a;
}

.product__colors > div:nth-child(2) {
  background-color: #efefef;
}

.product__colors > div:nth-child(3) {
  background-color: #da372b;
}

.product__colors > div:nth-child(4) {
  background-color: #2d6890;
}

.product__colors > div:nth-child(5) {
  background-color: #754e27;
}

.product__btn {
  text-align: center;
}

.product__btn .btn {
  color: var(--text-dark);
  background-color: var(--white);
}

.product__btn .btn:hover {
  background-color: var(--extra-light);
}

.store__container h2 {
  margin-bottom: 0.5rem;
  font-size: 2rem;
  font-weight: 700;
  font-family: var(--header-font);
  color: var(--text-dark);
  text-align: center;
}

.store__container p {
  margin-bottom: 4rem;
  font-weight: 500;
  color: var(--text-light);
  text-align: center;
}

.swiper {
  width: 100%;
  padding-bottom: 5rem;
}

.swiper-slide {
  max-width: 400px;
}

.store__card h4 {
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  font-weight: 700;
  font-family: var(--header-font);
  color: var(--text-dark);
  text-align: center;
}

.store__card img {
  max-width: 325px;
  margin-inline: auto;
  margin-bottom: 2rem;
}

.store__card h3 {
  font-size: 1.75rem;
  font-weight: 700;
  font-family: var(--header-font);
  color: var(--text-dark);
  text-align: center;
}

.swiper-pagination-bullet-active {
  background-color: var(--text-dark);
}

.footer {
  background-color: var(--text-dark);
}

.footer__container img {
  margin-bottom: 2rem;
  max-width: 225px;
  margin-inline: auto;
}

.footer__socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.footer__socials a {
  padding: 2px 7px;
  font-size: 1.5rem;
  color: var(--text-dark);
  background-color: var(--white);
  border-radius: 100%;
}

.footer__socials a:hover {
  color: var(--white);
  background-color: var(--text-light);
}

.footer__bar {
  padding: 1rem;
  font-size: 0.9rem;
  color: var(--text-light);
  text-align: center;
}

@media (width > 768px) {
  nav {
    position: static;
    padding-block: 2rem 0;
    padding-inline: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
  }

  .nav__header {
    padding: 0;
    background-color: transparent;
  }

  .nav__logo img {
    max-width: 175px;
  }

  .logo-white {
    display: none;
  }

  .logo-dark {
    display: flex;
  }

  .nav__menu__btn {
    display: none;
  }

  .nav__links {
    position: static;
    padding: 0;
    flex-direction: row;
    justify-content: flex-end;
    gap: 2rem;
    background-color: transparent;
    transform: none;
  }

  .nav__links a {
    color: var(--text-dark);
  }

  .nav__links a:hover {
    color: var(--text-light);
  }

  .nav__links .btn {
    color: var(--white);
    background-color: var(--text-dark);
  }

  .header__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .header__image {
    grid-area: 1/2/2/3;
  }

  .header__image img {
    margin-inline-start: unset;
  }

  .header__image__content {
    position: absolute;
    right: 0;
    bottom: 2rem;
  }

  .header__content {
    text-align: left;
  }

  .header__content h1 {
    font-size: 3.5rem;
    line-height: 3.5rem;
  }

  .product__grid {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .product__card {
    text-align: left;
  }

  .product__colors {
    justify-content: flex-start;
  }
}
